%% -*- mode: erlang -*-
{validate_app_modules, true}.
{erl_opts, [debug_info]}.

{cover_enabled, true}.
{cover_print_enabled, true}.
{plugins, [rebar3_lint]}.

{profiles,
 [ {test, [ {deps,
             [ unite
             , {meck, {git, "git@github.com:eproxus/meck.git", {tag, "0.8.12"}}}]}
          , {eunit_opts, [no_tty, {report, {unite_compact, []}}]}
          ]}
 ]}.

{dialyzer, []}.

{xref_checks, [ undefined_functions_calls
              , undefined_functions
              , locals_not_used
              , deprecated_function_calls
              , deprecated_functions
              ]}.

{elvis,
 [#{ dirs => ["src/*"]
   , include_dirs => ["include"]
   , filter => "*.erl"
   , ruleset => erl_files
   , rules =>
       [{elvis_style, line_length, #{limit => 80, skip_comments => false}},
        {elvis_style, god_modules, #{limit => 25}},
        {elvis_style, no_tabs},
        {elvis_style, no_trailing_whitespace},
        {elvis_style, no_if_expression},
        {elvis_style,
         function_naming_convention,
         #{regex => "^[a-z]([a-z0-9]*_?)*$"}},
        {elvis_style, state_record_and_type},
        {elvis_style, no_spec_with_records}
       ]
   }
 ]
}.
